
.login{
	display: flex;
}
h1{
font-family: 'Playfair Display', sans-serif;
}
.section-text{
	margin-right: 80px;
}

li{
	list-style: none;
}

.nav-section{
	display: flex;
	margin-top: 30px;
	margin-right:0px;
}

h3{
	font-size: 18px;
}

.nav-section li{
	margin-right: 15px;

}

.logo{
	padding-bottom: 20px;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.login{
	padding-top: 20px;
}

.text-1{
	padding-bottom:40px;
	padding-top:60px;
	margin-left:30px;
}

.text-name{
	padding-bottom:10px;
	padding-top:20px;
	margin-left:70px;

}

.full-name-please{
	margin-top: 10px;
	color: #ccc;
}

.input-name{
	width: 80%;
	height:40px;
	margin-top: 10px;
	padding-top: 10px 40px;
	border: 1px solid #ccc;
}

.most-important{
	margin-top: 50px;
}

.nav-section li:hover{
	border-bottom: 2px solid black;
	cursor: pointer;
}

#Other{
	width: 90%;
	height: 45px;
	padding:6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border: 1px solid #ccc;
}

.radio{
	margin-left:60px;
}

.checkbox label, .radio label{
	margin-bottom: 10px;
}

.label-single{
	margin-right: 40px;
}

.form-group{
	padding: 15px 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px;
}

.form-control{
	width: 84%;
}

.form-4{
	padding-bottom: 40px;
	padding-top: 70px;
	margin-right: 10px;
}

 .save:hover {
    background: #3ea0c0;
}

.save {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #4abde2;
    border-radius: 20px;
    padding: 10px 40px;
    margin-left: 154px;
    transition: all .3s;
    border: solid;
}	

@media screen and (max-width: 480px)
{
.save {
    width: 100%;
    margin:auto; 
}
}

h4 {
    color: #9b9b9b;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.button-footer:hover {
    text-decoration: none;
    color: #fff;
    background: #4abde2;
}

    .button-footer {
    border: solid 1px #4abde2;
    border-radius: 20px;
    padding: 10px 20px;
    vertical-align: middle;
    color: #4abde2;
    transition: all .3s;
}

.footer {
    border-width: 2px;
    padding: 25px 40px;
    margin-top: 20px;
    margin-bottom:95px;
}

@media screen and (max-width: 480px){

.button-footer {
    padding: 13px 35px;
    display: block;
    width: 100%;
    margin: 10px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

}

@media screen and (max-width: 768px)
{  
.login {
    display: none;
}

@media screen and (max-width: 768px)
{  
.menu-ham {
    display: flex;
    justify-content: flex-end;
    display: none;
}
}
.menu-ham {
    displ

    }

.what-is{
	font-style: bold;
}